

body {
  padding-top: 0rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  font-family: "Karla", Arial, sans-serif;
}

/* .collapse.navbar-collapse.justify-content-md-start {
  margin-left: 10rem;
} */

body{
  background-color: #b7c2c2;
}

/* 
NavBar */
.active-nav {
  font-size: 30px;
  transition: 0.8s; 
}

.navbar {
  font-size: 18px;
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-links,
.logo {
  text-decoration: none;
  color: whitesmoke;
}

nav ul .nav-links {
  background-color: black;
  padding: 1rem;
}

nav .logo {
  background-color: black;
  padding: 1rem;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  padding: 1rem;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

/* .navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(12, 11, 11, 0.8);
  font-size: 24px;
} */

.active {
  display: block;
}

.logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
  }

@media screen and (max-width: 450px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    /* margin-right: 30px; */
    flex-direction: column;
    justify-content: flex-end;
  
  }

  .main-nav li {
    margin: 0;
    text-align: left;
  }

  .main-nav li a {
    display: block;
  }

  .mobile-nav {
    display: none;
    margin-left: -2rem;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(12, 11, 11, 0.8);
    font-size: 24px;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }

  p.text-center {
    display: none;
  }

}

@media screen and (min-width: 451px) and (max-width: 800px) {

  

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-left: 11rem;
    margin-top: -5rem; 
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 1rem;
    text-align: left;
  }

  .nav-links {
    margin-left: -2rem;
  }  

  
  .logo {
    display: inline; 
  } 

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }

  
}








/* 
.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  height: 70px;
  align-items: center;
  padding-right: 20rem;
  padding-left: 20rem;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.container-nav {
  display: flex;
  margin-right: 30px;
  flex-direction: row;
  justify-content: flex-end;
}

.container-nav li {
  list-style: none;
  align-content: center;
  margin: 0;
}

.nav-links {
  margin-left: 40px;
}


.logo {
  margin-top: 0;
}
.navbar-toggle {
 display: none;
}

.logo:hover,
.nav-links:hover {
  color: rgba(255, 255, 255, 1);
} */

p.text-center {
  position: absolute;
  /* margin: 10rem 20rem 20rem 30rem; */
  top: 30%;
  left: 20%;
  font-size: 50px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 40rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 40rem;
  /* margin-left: 9rem; */
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 2rem 0; /* Space out the Bootstrap <hr> more */
}

.row.featurette {
  width: 75%;
  margin: auto;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* Footer */

#footer p:last-child {
  margin-bottom: 0; }
#footer p.colorlib-social-icons a:hover, #footer p.colorlib-social-icons a:focus {
  text-decoration: none !important; }
#footer p.colorlib-social-icons i {
  font-size: 24px;
  color: #CA82F8; }
#footer p .block {
  color: #1a1a1a;
  font-size: 14px; }
#footer .subscribe .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 16px;
  background: #fafafa;
  font-weight: 400;
  margin-bottom: 5px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }
  #footer .subscribe .form-control:focus, #footer .subscribe .form-control:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid rgba(202, 130, 248, 0.8); }
#footer .subscribe .btn-custom {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }


/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 1700px) and (max-width: 3000px) {
  /* Bump up size of carousel content */

  
.container-fluid img {
  margin-top: -40rem;
}

  }


@media (max-width: 400px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  }

@media (max-width: 780px) {
  .featurette-heading {
    margin-top: 7rem;
  }

  .carousel-item {
    height: 35rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 32rem;
    margin-left: 0rem;
  
  }
}